@model Group_Ledger.Models.TransactionViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal col-md-10">
            <h4>Transaction</h4>
            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Amount, new {htmlAttributes = new {@class = "form-control", type="number"}})
                    @Html.ValidationMessageFor(model => model.Amount, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ToFirstName, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ToFirstName, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.ToFirstName, "", new {@class = "text-danger", id = "txtFirst"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ToLastName, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ToLastName, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.ToLastName, "", new {@class = "text-danger", id = "txtLast"})
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-12">
        <table id="resultTable" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var url = "../../api/personapi";
            var table = $('#resultTable').DataTable({
                responsive: true,
                "processing" : true,
                "ajax" : {
                    "url" : url,
                    dataSrc : ''
                },
                "columns" : [ {
                    "data" : "FirstName"
                }, {
                    "data" : "LastName"
                }]
            });

            $('#resultTable tbody').on('click', 'tr', function() {
                var data = table.row(this).data();
                //console.log(data);
                $('#ToFirstName').val(data["FirstName"]);
                $('#ToLastName').val(data["LastName"]);
            });
        });
    </script>
}

